<div class="restaurant-grid">
    <div class="restaurant-card">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let restaurant of restaurantList">
                <div class="card h-100">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                        alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">{{restaurant.name}}</h5>
                        <p class="card-text">{{restaurant.description}}</p>
                        <p class="card-text">{{restaurant.address}}</p>
                        <button class="btn btn-primary" (click)="onButtonClick(restaurant.restaurantId)">Order
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>