<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/header/DineHUB_transparent.png" class="me-2" height="40" alt=""
                loading="lazy" />
            <small>DineHUB Food Delivery</small>
        </a>
        <div class="user-avatar">
            <img src="../../../../assets/images/header/DineHUB_transparent.png" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            <span class="username">Hey {{username}}</span>
        </div>
    </div>
</nav>